<account-top-bar></account-top-bar>
<div class="container">
    <div class="row new-league">
        <div class="col-md-12">
            <div class="text-center">
                <h1 class="invite-owners-h1">Create a league</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="new-league">
            <div class="row">
                <div class="col-md-offset-3 col-md-2 title settings-label">
                    League Name
                </div>
                <div class="col-md-3">
                    <input style="width: 85%;" type="text" class="" maxlength="50" id="inputLeagueName" ng-model="vm.model.leagues.one.title">
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-3 col-md-2 title settings-label">
                    League Size
                </div>
                <div class="col-md-3">
                    <div class="dropdown" dropdown is-open="vm.model.is_open.number_of_teams" id="numberOfTeamsDropDown">
                        <button style="width: 85%;" class="dropdown-toggle" dropdown-toggle type="button" aria-haspopup="true" aria-expanded="true">
                            <div class="clip">{{vm.model.leagues.one.req_teams}} Teams</div>
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownTeams">
                            <li><a href="#" ng-click="vm.menu.chooseNumberOfTeams(8)">8</a></li>
                            <li><a href="#" ng-click="vm.menu.chooseNumberOfTeams(9)">9</a></li>
                            <li><a href="#" ng-click="vm.menu.chooseNumberOfTeams(10)">10</a></li>
                            <li><a href="#" ng-click="vm.menu.chooseNumberOfTeams(11)">11</a></li>
                            <li><a href="#" ng-click="vm.menu.chooseNumberOfTeams(12)">12</a></li>
                            <li><a href="#" ng-click="vm.menu.chooseNumberOfTeams(13)">13</a></li>
                            <li><a href="#" ng-click="vm.menu.chooseNumberOfTeams(14)">14</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-offset-3 col-md-2 title settings-label">
                    Season Length
                </div>
                <div class="col-md-3">
                    <div class="dropdown" id="inputSeasonLength">
                        <button style="width: 85%;" ng-show="!vm.model.is_open.num_matches" class="dropdown-toggle" ng-click="vm.menu.startEditNumberOfMatches()" type="button" aria-haspopup="true" aria-expanded="true">
                            <div class="clip">{{vm.model.leagues.one.num_matches}} Matches</div>
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </button>
                        <input ng-show="vm.model.is_open.num_matches" type="number" max="{{vm.model.max_matches}}" min="1" id="inputNumberOfMatches" class="form-control" ng-blur="vm.model.is_open.num_matches = false" placeholder="Season Length" ng-model="vm.model.leagues.one.num_matches" ng-change="vm.menu.seasonLengthChanged()">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-3 col-md-2 title settings-label">
                    League Starts
                </div>
                <div class="col-md-3">
                    <div class="dropdown" id="inputLeagueStarts">
                        <button style="width: 85%;" ng-show="!vm.model.is_open.start_round_num" class="dropdown-toggle" ng-click="vm.menu.startEditStartRoundNumber()" type="button" aria-haspopup="true" aria-expanded="true">
                            <div class="clip">Match Week {{vm.model.leagues.one.start_round_num}}</div>
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </button>
                        <input ng-show="vm.model.is_open.start_round_num" type="number" min="{{vm.model.commonModel.currentWeekNumber ? vm.model.commonModel.currentWeekNumber : 1}}" max="38" id="inputStartRoundNumber" class="form-control" ng-blur="vm.model.is_open.start_round_num = false" placeholder="Start Week" ng-model="vm.model.leagues.one.start_round_num" ng-change="vm.menu.changeStartRoundNumber()">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-3 col-md-2 title settings-label">
                    Draft Date/Time
                </div>
                <div class="col-md-3">
                    <div style="width: 85%; margin: 0; position: relative;">
                        <span onclick="getElementById('dateTimePicker').focus();" style="vertical-align: middle; float: none; text-align: right; position: absolute; font-size: 15px; right: 10px; top: 8px; cursor: pointer;" class="glyphicon glyphicon-menu-down"></span>
                        <input id="dateTimePicker" date-time-picker-wrapped date-model="vm.model.leagues.one" type="text" style="width: 100%" maxlength="50" >
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-2 text-center">
                        <button type="submit" class="btn btn-green" ng-click="vm.menu.createLeagueFirstStep()">Next</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row new-league text-center">
            <div class="col-sm-offset-3 col-sm-6 text-center small-note">
                Note: these settings cannot be changed once your league's season starts.
            </div>
        </div>
    </div>
</div>
