<div class="row">
    <h2 ng-if="vm.model.bids.notApprovedBids.length === 1" class="col-xs-12 text-center" style="color: #fff;">Review Transfer</h2>
    <h2 ng-if="vm.model.bids.notApprovedBids.length > 1" class="col-xs-12 text-center" style="color: #fff;">Review Transfers</h2>
</div>
<div ng-repeat="bid in vm.model.bids.notApprovedBids | orderBy:'id'">
    <div class="row" style="display: flex;">
        <div class="col-xs-6 top-bot-border">
            <div class="confirm-order">
                <strong ng-if="vm.menu.confirmType !== 'waiver'" class="violet-text">{{bid.offerer_club.name}} gets:</strong><br/>
                <div ng-if="vm.menu.confirmType !== 'waiver'">
                    <div ng-repeat="virtFootballer in bid.requested_virt_footballers" class="confim-order-item"> <!-- ng-repeat -->
                        <div class="squads-pos violet-text ng-binding">
                            {{vm.model.lineUpModel.footballerPositionsSymbols[virtFootballer.footballer.position]}}
                        </div>
                        <div class="squads-name ng-binding">
                            {{virtFootballer.footballer.full_name | FootballerFullName}}<br>
                            <small class="violet-text ng-binding">{{virtFootballer.footballer.real_team.short_club_name}}</small>
                        </div>
                    </div>
                </div>
                <!--<div ng-if="bid.money_offered > 0" class="confim-order-item">-->
                    <!--<div class="squads-name ng-binding" style="margin-left: 35px;">-->
                        <!--&pound; {{bid.money_offered}}M <br>-->
                        <!--<small class="violet-text ng-binding">Cash</small>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-xs-6 top-bot-border left-border">
            <div class="confirm-order">
                <strong ng-if="vm.menu.confirmType !== 'waiver'" class="violet-text">{{bid.acceptor_club.name}} gets:</strong><br/>
                <div ng-if="vm.menu.confirmType !== 'waiver'">
                    <div ng-repeat="virtFootballer in bid.offered_virt_footballers" class="confim-order-item"> <!-- ng-repeat -->
                        <div class="squads-pos violet-text ng-binding">
                            {{vm.model.lineUpModel.footballerPositionsSymbols[virtFootballer.footballer.position]}}
                        </div>
                        <div class="squads-name ng-binding">
                            {{virtFootballer.footballer.full_name | FootballerFullName}}<br>
                            <small class="violet-text ng-binding">{{virtFootballer.footballer.real_team.short_club_name}}</small>
                        </div>
                    </div>
                </div>
                <div ng-if="bid.money_offered > 0" class="confim-order-item">
                    <div class="squads-name ng-binding" style="margin-left: 35px;">
                        &pound; {{bid.money_offered}}M <br>
                        <small class="violet-text ng-binding">Cash</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row m-t10">
        <div class="col-xs-12 text-center">
            <p>Offer expires Oct 10. 2015</p>
        </div>
    </div>-->
    <div class="row">
        <div class="col-xs-6 text-right">
            <button ng-click="vm.menu.confirmVeto(bid, $index)" style="color: #fff;" class="btn btn-red">Veto</button>
        </div>
        <div class="col-xs-6 text-left">
            <button ng-click="vm.menu.approveBid(bid, $index)" class="btn btn-green">Approve</button>
        </div>
    </div>
</div>

