<ng-include src="'app/layout/account_topbar.html'"></ng-include>

<div class="row" ng-if="vm.formStates.isState(vm.formStates.states.chooseShape)">
    <div class="col-md-12 white-bg-header text-center">
        <i class="fa fa-futbol-o" style="font-size: 36px; color: #555555;"></i>
        <h2 style="color: #000;">{{vm.model.clubs.one.name || 'No name club'}}</h2>
        <p class="lead">Pick Crest Shape</p>
    </div>
</div>
<div class="row white-bg text-center crest-carousel" ng-if="vm.formStates.isState(vm.formStates.states.chooseShape)">

    <data-owl-carousel class="owl-carousel" data-options="{center: true, loop: true, items: 3, onChanged: vm.menu.selectCurrentShape, URLhashListener:true, startPosition: 'URLHash'}">
        <a href="#shape{{oneCrestShape.id}}" data-hash="shape{{oneCrestShape.id}}" owl-carousel-item="" class="item img-responsive" ng-repeat="oneCrestShape in vm.model.crestShapes.data track by $index"
           ng-include="oneCrestShape.svg_url" style="width: 150px; margin: auto auto;">
        </a>
    </data-owl-carousel>

    <div class="borders-sections clearfix">
        <div class="col-sm-4">
            <div class="green-border"></div>
        </div>
        <div class="col-sm-4">
            <div class="green-border">
                <div class="green-corner"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="green-border"></div>
        </div>
    </div>
    <div class="row text-center">
        <!--<button class="btn btn-default btn-big-cyan btn-white" ng-click="vm.menu.goChangeFormState(vm.formStates.states.enterName)">Previous</button>-->
        <button class="btn btn-default btn-big-cyan btn-white" ng-click="vm.menu.goChangeFormState(vm.formStates.states.choosePattern)">Next</button>
    </div>
</div>

<div class="row" ng-if="vm.formStates.isState(vm.formStates.states.choosePattern)">
    <div class="col-md-12 dark-bg-header text-center">
        <i class="fa fa-futbol-o" style="font-size: 36px; color: #555555;"></i>
        <h2>{{vm.model.clubs.one.name || 'No name club'}}</h2>
        <p class="lead">Pick Crest Pattern</p>
    </div>
</div>
<div class="row dark-bg text-center crest-carousel" ng-if="vm.formStates.isState(vm.formStates.states.choosePattern)">
    <!--<span class="glyphicon glyphicon-menu-left" ng-click="vm.model.crestShapes.collection.go.previous(true)"></span>-->
    <!--<span class="glyphicon glyphicon-menu-right" ng-click="vm.model.crestShapes.collection.go.next(true)"></span>-->
    <div class="col-sm-12">
        <div class="row">

            <data-owl-carousel class="owl-carousel" data-options="{center: true, loop: true, items: 3, onChanged: vm.menu.selectCurrentPattern, URLhashListener:true, startPosition: 'URLHash'}">
                <a href="#pattern{{oneCrestPattern.id}}" data-hash="pattern{{oneCrestPattern.id}}"
                   id="pattern_{{oneCrestPattern.id}}" owl-carousel-item="" class="item img-responsive" ng-repeat="oneCrestPattern in vm.model.crestShapes.selectedShape.crest_patterns track by $index"
                   ng-include="oneCrestPattern.svg_url" class="img-responsive" style="width: 150px; margin: auto auto;">
                    <style type="text/css">
                        #pattern_{{oneCrestPattern.id}} .st0{fill:{{vm.model.clubs.one.color1}} !important;}
                        #pattern_{{oneCrestPattern.id}} .st1{fill:{{vm.model.clubs.one.color2}} !important;}
                        #pattern_{{oneCrestPattern.id}} .st2{fill:{{vm.model.clubs.one.color3}} !important;}
                    </style>
                </a>
            </data-owl-carousel>

        </div>
    </div>
    <div class="borders-sections clearfix">
        <div class="col-sm-4">
            <div class="green-border"></div>
        </div>
        <div class="col-sm-4">
            <div class="green-border">
                <div class="green-corner"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="green-border"></div>
        </div>
    </div>
    <div class="row text-center">
        <button class="btn btn-default btn-big-cyan" ng-click="vm.menu.goChangeFormState(vm.formStates.states.chooseShape)">Previous</button>
        <button class="btn btn-default btn-big-cyan" ng-click="vm.menu.goChangeFormState(vm.formStates.states.chooseColors)">Next</button>
    </div>
</div>

<div class="row" ng-if="vm.formStates.isState(vm.formStates.states.chooseColors)">
    <div class="col-md-12 white-bg-header text-center">
        <i class="fa fa-futbol-o" style="font-size: 36px; color: #555555;"></i>
        <h2>{{vm.model.clubs.one.name || 'No name club'}}</h2>
        <p class="lead">Pick Club Colors</p>
    </div>
</div>
<div class="row white-bg text-center" ng-if="vm.formStates.isState(vm.formStates.states.chooseColors)">
    <div class="col-sm-4">
        <div style="position: relative;">
            <div class="choose-color" style="background-color: {{vm.model.clubs.one.color1}}; position: absolute; top: 0; left: 0; color: #cccccc;">Color 1</div>
            <input colorpicker ng-model="vm.model.clubs.one.color1" style="width: 100%; height: 160px; opacity: 0; filter:alpha(opacity: 0); cursor: pointer; cursor: hand;">
        </div>
    </div>
    <div class="col-sm-4">
        <div style="position: relative;">
            <div class="choose-color" style="background-color: {{vm.model.clubs.one.color2}}; position: absolute; top: 0; left: 0; color: #cccccc;">Color 2</div>
            <input colorpicker ng-model="vm.model.clubs.one.color2" style="width: 100%; height: 160px; opacity: 0; filter:alpha(opacity: 0); cursor: pointer; cursor: hand;">
        </div>
    </div>
    <div class="col-sm-4">
        <div style="position: relative;">
            <div class="choose-color" style="background-color: {{vm.model.clubs.one.color3}}; position: absolute; top: 0; left: 0; color: #cccccc;">Color 3</div>
            <input colorpicker ng-model="vm.model.clubs.one.color3" style="width: 100%; height: 160px; opacity: 0; filter:alpha(opacity: 0); cursor: pointer; cursor: hand;">
        </div>
    </div>
</div>
<div class="row white-bg" ng-if="vm.formStates.isState(vm.formStates.states.chooseColors)">
    <div class="col-sm-offset-4 col-sm-4">
        <div class="result-icon text-center">
            <style type="text/css">
                .st0{fill:{{vm.model.clubs.one.color1}} !important;}
                .st1{fill:{{vm.model.clubs.one.color2}} !important;}
                .st2{fill:{{vm.model.clubs.one.color3}} !important;}
            </style>
            <div ng-include="vm.model.crestShapes.selectedPattern.svg_url" class="img-responsive" style="width: 200px; margin: auto auto;"></div>
            <h2>{{vm.model.clubs.one.name || 'No name club'}}</h2>
        </div>
    </div>
</div>
<div class="row white-bg text-center" ng-if="vm.formStates.isState(vm.formStates.states.chooseColors)">
    <button class="btn btn-gray" ng-click="vm.menu.goChangeFormState(vm.formStates.states.choosePattern)">Previous</button>
    <button class="btn btn-green" ng-click="vm.menu.goUpdateClub()">save</button>
</div>

