<div ng-if="cc.view.showAds()">
    <div class="row">
        <div ng-if="cc.view.showAds()" class="row">
            <div data-ng-dfp-ad="div-gpt-ad-1475081669507-0" style="height:90px; width:728px; margin-left: auto; margin-right: auto;"></div>
        </div>
    </div>
    <div class="text-center">
        <a href="javascript:void(0);" ng-click="cc.menu.createSubscription()" class="remove-ads-link">
            Don't like the ads? Support our site and upgrade for just $12/season.
        </a>
    </div>
</div>

