<div class="row">
    <div class="row league-name">
        <div class="col-xs-5 text-right proxima-nova">League name:</div><div class="col-xs-7 text-left proxima-nova">{{league.title}}</div>
    </div>
    <div class="row num-of-teams">
        <div class="col-xs-5 text-right proxima-nova league-info-header"># of Teams:</div><div class="col-xs-7 text-left proxima-nova">{{league.req_teams}}</div>
    </div>
    <div class="row season-length">
        <div class="col-xs-5 text-right proxima-nova league-info-header">Season length:</div><div class="col-xs-7 text-left proxima-nova">{{league.num_matches}} Matches</div>
    </div>
    <div class="row league-starts">
        <div class="col-xs-5 text-right proxima-nova league-info-header">League starts:</div><div class="col-xs-7 text-left proxima-nova">Week {{league.start_round_num}}</div>
    </div>
    <div class="row draft_time">
        <div class="col-xs-5 text-right proxima-nova league-info-header">Draft Date/Time:</div><div class="col-xs-7 text-left proxima-nova">{{localTime(league.draft_time)}} (local time)</div>
    </div>
    <div class="row league-chairman">
        <div class="col-xs-5 text-right proxima-nova league-info-header">League Chairman:</div><div class="col-xs-7 text-left proxima-nova">{{league.user.fname || league.user.email}}<br>{{league.user.email}}</div>
    </div>
    <div class="row squad-size">
        <div class="col-xs-5 text-right proxima-nova league-info-header">Squad size:</div><div class="col-xs-7 text-left proxima-nova">{{league.squad_size}} players</div>
    </div>
    <div class="row formations-allowed">
        <div class="col-xs-5 text-right proxima-nova league-info-header">Formations allowed:</div>
        <div class="col-xs-7 text-left proxima-nova">
            <span ng-repeat="formation in league.league_settings_formations">
                <span ng-if="formation.allowed">{{formations[formation.formation]}}{{$index == league.league_settings_formations.length - 1 ? '' : ',' }}&nbsp; </br></span> 
            </span>
        </div>
    </div>
</div>
