
/* css loader animated */

.loader-overlay {

}

.spinner {
    text-align: center;
    z-index: 999;
    width: 80px;
    height: 40px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #f44;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}


/* Timer loader*/

#floatingBarsG{
    position:relative;
    width:23px;
    height:29px;
    margin:auto;
}

.blockG{
    position:absolute;
    background-color:rgb(255,255,255);
    width:4px;
    height:9px;
    border-radius:3px 3px 0 0;
    -o-border-radius:3px 3px 0 0;
    -ms-border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    transform:scale(0.4);
    -o-transform:scale(0.4);
    -ms-transform:scale(0.4);
    -webkit-transform:scale(0.4);
    -moz-transform:scale(0.4);
    animation-name:fadeG;
    -o-animation-name:fadeG;
    -ms-animation-name:fadeG;
    -webkit-animation-name:fadeG;
    -moz-animation-name:fadeG;
    animation-duration:0.622s;
    -o-animation-duration:0.622s;
    -ms-animation-duration:0.622s;
    -webkit-animation-duration:0.622s;
    -moz-animation-duration:0.622s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#rotateG_01{
    left:0;
    top:10px;
    animation-delay:0.2295s;
    -o-animation-delay:0.2295s;
    -ms-animation-delay:0.2295s;
    -webkit-animation-delay:0.2295s;
    -moz-animation-delay:0.2295s;
    transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
}

#rotateG_02{
    left:3px;
    top:4px;
    animation-delay:0.316s;
    -o-animation-delay:0.316s;
    -ms-animation-delay:0.316s;
    -webkit-animation-delay:0.316s;
    -moz-animation-delay:0.316s;
    transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
}

#rotateG_03{
    left:10px;
    top:1px;
    animation-delay:0.3925s;
    -o-animation-delay:0.3925s;
    -ms-animation-delay:0.3925s;
    -webkit-animation-delay:0.3925s;
    -moz-animation-delay:0.3925s;
    transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
}

#rotateG_04{
    right:3px;
    top:4px;
    animation-delay:0.469s;
    -o-animation-delay:0.469s;
    -ms-animation-delay:0.469s;
    -webkit-animation-delay:0.469s;
    -moz-animation-delay:0.469s;
    transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}

#rotateG_05{
    right:0;
    top:10px;
    animation-delay:0.5455s;
    -o-animation-delay:0.5455s;
    -ms-animation-delay:0.5455s;
    -webkit-animation-delay:0.5455s;
    -moz-animation-delay:0.5455s;
    transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
}

#rotateG_06{
    right:3px;
    bottom:3px;
    animation-delay:0.622s;
    -o-animation-delay:0.622s;
    -ms-animation-delay:0.622s;
    -webkit-animation-delay:0.622s;
    -moz-animation-delay:0.622s;
    transform:rotate(135deg);
    -o-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
}

#rotateG_07{
    bottom:0;
    left:10px;
    animation-delay:0.6985s;
    -o-animation-delay:0.6985s;
    -ms-animation-delay:0.6985s;
    -webkit-animation-delay:0.6985s;
    -moz-animation-delay:0.6985s;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}

#rotateG_08{
    left:3px;
    bottom:3px;
    animation-delay:0.775s;
    -o-animation-delay:0.775s;
    -ms-animation-delay:0.775s;
    -webkit-animation-delay:0.775s;
    -moz-animation-delay:0.775s;
    transform:rotate(-135deg);
    -o-transform:rotate(-135deg);
    -ms-transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    -moz-transform:rotate(-135deg);
}



@keyframes fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

