<div ng-controller = "ForgotPasswordController as vm">

  <div class="row">
      <div class="col-xs-12 text-center">
        <div class="logo-in-modal">
          <img src="images/logo.svg" alt="" width="150" height="79">
        </div>
          <h3>Forgot password? We'll sort you out.</h3>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12" >
          <div class="form-group" >
              <input ng-model="vm.form.email" type="text" placeholder="Email" ng-keyup="vm.menu.keyUp($event);" class="auth-input">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 text-center">
          <button class="btn btn-green" ng-click="vm.menu.sendPasswordLink();">Send instructions</button>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 text-center">
          <p ng-click="vm.menu.neverMind();">
            <img src="images/back_blue_arrow.svg" class = "forget-password-back-arrow" alt="" width="25" height="75">
            <a class="link" href="#"> Never mind </a>
          </p>
      </div>
  </div>
</div>
