
<div  class="container landing-wrapper">
  <div class="row header no-lr-margins">
    <div class="">
      <img src="images/logo.svg" alt="" width="150" height="79">
    </div>

    <div class="cockpit">
      <a href="#Howitworks" class="btn btn-transparent">How it works</a>
      <a href="#Wedoitbetter" class="btn btn-transparent">Features</a><br class="visible-xs">
      <a href="#Shutupandtakemymoney" class="btn btn-transparent">Pricing</a><br class="visible-xs">
      <a ng-click="vm.menu.getStarted()" class="btn btn-green">Get started</a>
      <a ng-click = "vm.menu.signIn()" class="btn btn-transparent">
        <img src="images/landing_page/sign_in.svg" alt="sign in">
      </a>
    </div>
  </div>

  <div class="row text-center m-t40">
      <div class="col-xs-12">
        <span class="title-text" style="background-repeat: no-repeat; background-position: center center; background-image: url('/images/landing_page/crest.svg')">
          &nbsp;&nbsp;&nbsp;
        </span>
        &nbsp;
        <br class="visible-xs">
        <span class="title-text">
          <br class="visible-xs">R<span class="green-letter">O</span>T<span class="green-letter">O</span>&nbsp;<br class="visible-xs">P<span class="green-letter">R</span>E<span class="green-letter">M</span>I<span class="green-letter">E</span>R&nbsp;<br class="visible-xs"><span class="green-letter">L</span>E<span class="green-letter">A</span>G<span class="green-letter">U</span>E
        </span>
      </div>
      <div class="col-xs-12 subtitle m12">
        The beautiful game deserves a proper fantasy game
      </div>
  </div>

  <div class="row m40">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="row">
        <div class="col-xs-12 text-center sub-green-title">
          Create a league with friends or join a public league today
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="cards text-center">
            <img class="m20" src="/images/landing_page/player_draft.svg" height="120">
            <div class="card-title m20">
              Player Draft
            </div>
            <p>
              Select teams via live draft or offline with league mates. No more player overlap - each player is on one team and one team only.
            </p>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12">
          <div class="cards text-center">
            <img class="m20" src="/images/landing_page/custom_scoring.svg" height="120">
            <div class="card-title m20">
              Custom Scoring
            </div>
            <p>
              Create your own scoring system, tailored to your specifications. Choose either points or our exclusive category style scoring.
            </p>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12">
          <div class="cards text-center">
            <img class="m20" src="/images/landing_page/rpl_cup.svg" height="120">
            <div class="card-title m20">
              RPL Cup
            </div>
            <p>
              A knockout Cup tournament that runs alongside your league campaign. Salvage your season with a run at the Cup. Or watch your team do the double!
            </p>
          </div>
        </div>
        <div class="row m20">
          <div class="col-xs-12 text-center">
            <a ng-click="vm.menu.getStarted()" class="btn btn-green">Get Started</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row text-center go-scroll">
    <a href="#Howitworks">
      <div class="col-xs-12 text-center text-capitalize more">
        More
      </div>
      <img src="images/landing_page/arrow_light_green.svg" alt="Down arrow" height="30">
    </a>
  </div>

  <div id='Howitworks' class="row">
    <div class="col-xs-12 text-center text-capitalize green-title">
      How it works
    </div>
    <div class="col-xs-12 text-center subtitle m20">
      We love fantasy.<br class="visible-xs"> we love futbol.<br>So we built a better site
    </div>
  </div>

  <div class="row m20">
    <div class="visible-lg visible-md hidden-sm hidden-xs m20" style="position: relative; height: 430px;">
      <div style="position: absolute; top: 10px; left: 10px; width: 500px;">
        <div class="row no-lr-margins">
          <div class="col-xs-2 col-sm-3 step-number text-right">
            1.)
          </div>
          <div class="col-xs-10 col-sm-9 step-content text-left">
            <div class="step-title">
              Create team
            </div>
            <div class="step-text">
              Build your club's identity. Choose your colors, choose your crest.
            </div>
          </div>
        </div>
      </div>
      <div style="position: absolute; top: 130px; left: 45%; width: 500px;">
        <div class="row no-lr-margins">
          <div class="col-xs-2 col-sm-3 step-number text-right">
            2.)
          </div>
          <div class="col-xs-10 col-sm-9 step-content text-left">
            <div class="step-title">
              Start a league
            </div>
            <div class="step-text">
              Invite friends and decide on your scoring and rules.
            </div>
          </div>
        </div>
      </div>
      <div style="position: absolute; top: 300px; left: 60px; width: 500px;">
        <div class="row no-lr-margins">
          <div class="col-xs-2 col-sm-3 step-number text-right">
            3.)
          </div>
          <div class="col-xs-10 col-sm-9 step-content text-left">
            <div class="step-title">
              Draft team
            </div>
            <div class="step-text">
              Select squads with your league mates on Draft Day, the best day of the season. Choose wisely!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden-lg hidden-md visible-sm visible-xs m20">
      <div class="row no-lr-margins">
        <div class="col-xs-2 col-sm-3 step-number text-right">
          1.)
        </div>
        <div class="col-xs-10 col-sm-9 step-content text-left">
          <div class="step-title">
            Create team
          </div>
          <div class="step-text">
            Build your club's identity. Choose your colors, choose your crest.
          </div>
        </div>
      </div>

      <div class="row no-lr-margins">
        <div class="col-xs-2 col-sm-3 step-number text-right">
          2.)
        </div>
        <div class="col-xs-10 col-sm-9 step-content text-left">
          <div class="step-title">
            Start a league
          </div>
          <div class="step-text">
            Invite friends and decide on your scoring and rules.
          </div>
        </div>
      </div>

      <div class="row no-lr-margins">
        <div class="col-xs-2 col-sm-3 step-number text-right">
          3.)
        </div>
        <div class="col-xs-10 col-sm-9 step-content text-left">
          <div class="step-title">
            Draft team
          </div>
          <div class="step-text">
            Select squads with your league mates on Draft Day, the best day of the season. Choose wisely!
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m20">
    <div class="col-xs-12 text-center">
      <a ng-click="vm.menu.getStarted()" class="btn btn-green">Create your team</a>
    </div>
  </div>

  <div class="row text-center go-scroll">
    <a href="#Wedoitbetter">
      <div class="col-xs-12 text-center text-capitalize more">
        More
      </div>
      <img src="/images/landing_page/arrow_light_green.svg" alt="Down arrow" height="30">
    </a>
  </div>

  <!-- We do it better section -->

  <div id="Wedoitbetter" class="row">
    <div class="col-xs-12 text-center text-capitalize green-title">
      We do it better
    </div>
    <div class="col-xs-12 text-center subtitle m20">
      More features than a NASA relief map of Tajikistan
    </div>
  </div>

  <div class="row list m20">
    <div class="list-image-container">
      <img src="images/landing_page/rpl_cup_green.svg" alt="rpl_cup_green">
    </div>
    <div class="col-xs-10">
      <div class="text-uppercase list-title">
        Public Leagues
      </div>
      <div class="list-content">
          Can't find enough mates for a private league? Or just want to test your mettle against a random group of die-hards? Join a public league and get in on the fun!
      </div>
    </div>
  </div>

  <div class="row list m20">
    <div class="list-image-container">
      <img src="images/landing_page/transfers.svg" alt="transfers">
    </div>
    <div class="col-xs-10">
      <div class="text-uppercase list-title">
        Promotion & relegation
      </div>
      <div class="list-content">
        Link two or more leagues together through pro/rel. Keep managers interested all season as they battle to avoid the drop.
      </div>
    </div>
  </div>

  <div class="row list m20">
    <div class="list-image-container">
      <img src="images/landing_page/tactics.svg" alt="tactics">
    </div>
    <div class="col-xs-10">
      <div class="text-uppercase list-title">
        Tactics, tactics, tactics
      </div>
      <div class="list-content">
        Switch up your team’s formation to beat your opponent or deal with an injury crisis. Maximize strategy and squad flexibility.
      </div>
    </div>
  </div>

  <div class="row list m20">
    <div class="list-image-container">
      <img src="images/landing_page/buy_sell.svg" alt="buy_sell">
    </div>
    <div class="col-xs-10">
      <div class="text-uppercase list-title">
        Buy, sell, and swap
      </div>
      <div class="list-content">
        Plunk down cash to make a run at the title, or sell your prized asset to build a transfer war chest for next season. It’s silly season all year with the best transfer market of any FPL interface.
      </div>
    </div>
  </div>

  <!-- Shut up and take my money section -->

  <div class="row text-center go-scroll">
    <a href="#Shutupandtakemymoney">
      <div class="col-xs-12 text-center text-capitalize more">
        More
      </div>
      <img src="images/landing_page/arrow_light_green.svg" alt="Down arrow" height="30">
    </a>
  </div>
  <div class="container">
      <div id="Shutupandtakemymoney" class="row">
        <div class="col-xs-12 text-center text-capitalize green-title">
          Shut up and take my money!
        </div>
        <div class="col-xs-12 text-center subtitle m20">
          START A LEAGUE FOR FREE ON THE<br /> MOST ENGAGING, FLEXIBLE FPL SITE AROUND
        </div>
      </div>

      <div class="col-xs-1"></div>

      <div class="col-xs-10">
          <div class="text-uppercase list-title">
            TRY US FOR FREE
          </div>
          <div class="list-content">
            We think RPL is the best fantasy Premier League site around, but don't take our word for it - try the site, with all the bells
            & whistles for two weeks. After that it's a measly &pound;1.50 / month.
          </div>
          <div class="text-uppercase list-title">
            CANCEL ANY TIME
          </div>
          <div class="list-content">
            Stingier than a Tony Pulls side playing away from home? Cancel any time and play a free version of the game
            without losing access to your league. (Your features and options will be limited, however.)
          </div>
      </div>

      <div class="col-xs-1"></div>
  </div>
</div>
<script>
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>
