<div ng-controller = "NewPasswordController as vm">

  <div class="row">
      <div class="col-xs-12 text-center">
        <div class="logo-in-modal">
          <img src="images/logo.svg" alt="" width="150" height="79">
        </div>
      </div>
  </div>
  <div class="row">
      <div class=" col-sm-offset-4 col-sm-4 auth-form">
          <div class="form-group">
              <input ng-model="vm.form.new_password" type="password" placeholder="new password" ng-keyup="vm.menu.keyUp($event);" class="auth-input">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 text-center">
          <button class="btn btn-green" ng-click="vm.menu.saveNewPassword();">Save</button>
      </div>
  </div>
</div>
