<div ng-controller = "SignUpController as vm">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="logo-in-modal">
                <img src="images/logo.svg" alt="" width="150" height="79">
            </div>
                <b><p class = "normal-txt" >Create Your Account</p></b>
        </div>
    </div>

    <div class="row signup-page">
        <div class="col-xs-12 text-center auth-form">
            <div class="form-group">
                <input ng-model="vm.form.data.user.email" type="text" placeholder="email*" ng-keyup="vm.menu.keyUp($event);" class="auth-input">
            </div>
            <div class="form-group">
                <input ng-model="vm.form.data.user.fname" type="text" placeholder="your name" ng-keyup="vm.menu.keyUp($event);" class="auth-input">
            </div>
            <div class="form-group">
                <input ng-model="vm.form.data.user.password" type="password" placeholder="password*" ng-keyup="vm.menu.keyUp($event);" class="auth-input">
            </div>
        </div>
        <div class="col-xs-12 text-center">
          <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" ng-model="vm.form.data.user.checkboxValue">
          <label for="styled-checkbox-4">I agree to Terms & Conditions</label>
        </div>
    </div>
    <div class="row signup-page">
        <div class="col-xs-12 text-center">
            <button class="btn btn-green" ng-disabled="!vm.form.data.user.checkboxValue" ng-click="vm.form.submit();">Save</button>
        </div>
    </div>
    <div class="row signup-page">
        <div class="col-xs-12 text-center">
            <b><p class = "normal-txt">Already have an account?</p></b>
            <p><a class="link" href="#" ng-click="vm.menu.goSignIn();">Sign In</a></p>
        </div>
    </div>
</div>
